<h1> {{title}}</h1>

<div class="">
    <p>
        <a routerLink="/about" routerLinkActive="active">About Us</a> |
        <a routerLink="/services" routerLinkActive="active">Services</a> |
        <a routerLink="/products" routerLinkActive="active">Products</a> | 
        <a routerLink="/angular-animations" routerLinkActive="active">Angular Animations</a>
         
    </p>
     <!-- Logged in as : {{ username }} -->
    <div class="app-data">
      <router-outlet></router-outlet>
    </div>    

   
</div>

